@import "./reset.css";

:root {
  --app-bg: #f2f3f4;
  --app-bg-blue: #3487f3;
  --app-bg-orange: #d47215;
  --app-bg-purple: #6a1fc0;
  --app-bg-dark: #323235;
  --app-bg-green: #4dcc3c;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
}

body {
  background-color: #d3d3d3;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
  margin-top: 60px;
}



/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Header                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - */

header {
  width: 100%;
  height: 100px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  box-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3),
    2px 2px 4px rgba(255, 255, 255, 0.5);

  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 10px;

}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #fefefe;
}

.dropdown {
  display: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 22px;
  transition: 0.22s;
  border-radius: 50px;
  margin: 0 5px;
}

.navbar ul li a:hover {
  color: #11101b;
  background: #ff9933;
}

.navbar ul li a.active {
  color: #11101b;
  background: #ff9933;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Media Queries                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 1320px) {
  header {
    padding: 0 50px;

  }
}

.contactForm {
  margin-top: 10%;
}

@media (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media (max-width: 900px) {

  #footer {
    margin-top: auto;
  }

  .dropdown {
    cursor: pointer;
    display: block;
  }

  .dropdown .line {
    height: 3px;
    width: 33px;
    margin: 6px 0;
    background: #fefefe;
  }

  .navbar {
    overflow: hidden;
    height: 0;
    position: absolute;
    transition: 0.22s;
    background: #11101b;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
  }

  .navbar.active {
    height: 450px;
  }

  .navbar ul {
    transition: 0.55s;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    opacity: 0;
  }

  .navbar.active ul {
    opacity: 1;
  }

  .navbar ul li a {
    margin-bottom: 12px;

  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Projects                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - */

#projects {
  padding: 70px 0;
  height: auto;
}

.title-projects {
  color: #333333;
  font-size: 40px;
  font-weight: 600;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.project1,
.project2,
.project3 {
  z-index: 100;
  padding: 15px;
  border-radius: 13px;
  background-color: #333333;
  position: relative;
  overflow: hidden;
  transition: transform 0.33s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
    2px 2px 4px rgba(255, 255, 255, 0.5);
}


.project1 h3,
.project2 h3,
.project3 h3 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

.project1 p,
.project2 p,
.project3 p {
  padding: 3px;
  color: #fff;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}

#projects .fa-solid {
  width: 100%;
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
}

.project1:hover,
.project2:hover,
.project3:hover {
  cursor: pointer;
  color: #11101b;
  transform: scale(1.1);
  background-color: #ff9933;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* About                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - */
.about-text {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--app-bg-darkblue);
  word-spacing: 2px;
  font-size: 12px;
  display: block;
  width: 50%;
  margin: auto;
  color: #333333;

}

.about-text {
  animation-name: slide-stretch;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes slide-stretch {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Contact                                       */
/* - - - - - - - - - - - - - - - - - - - - - - - */

.contactUs {
  height: calc(100vh - 10px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contactUs .content {
  max-width: 800px;
  text-align: center;

}

.contactUs .content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #333333;
}

.contactUs .content p {
  font-weight: 300;
  color: #333333;


}

.contactForm {
  min-width: 30%;
  width: auto;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 40%;


}

.contactForm h2 {
  font-size: 30px;
  color: #333333;
  font-weight: 500;
}

.contactForm .inputBox {
  min-width: auto;
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333333;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.4s;
  color: #333333;

}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
  color: #ff9933;
  font-size: 12px;
  transform: translateY(-20px);

}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #ff9933;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Footer                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - */

#index footer {
  margin-top: 600px;
}

footer {
  background: #333333;
  height: auto;
  width: 100%;
  padding-top: 15px;
  color: #fff;
  box-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3),
    2px 2px 4px rgba(255, 255, 255, 0.5);

}



.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 32px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 20px 0;
}

.footer-socials li {
  margin: 0 10px;
}

.footer-socials a {
  text-decoration: none;
  color: #fff;
}

.footer-socials a i {
  font-size: 18px;
  transition: color .4s ease;

}

.footer-socials a:hover i {
  color: #e9e3e3
}

.footer-bottom {
  background: #333333;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  color: #ff9933;
  font-weight: 200;
}